<div class="panel">

    <div class="row">
        <div class="small-2 columns">
            <label for="articleTitle" class="right inline">Article Title</label>
        </div>
        <div class="small-9 columns end">
            <input type="text" id="articleTitle" placeholder="Article Title">
        </div>
    </div>

    <div class="row">
        <div class="small-2 columns">
            <label for="articleBody" class="right inline">Article Body</label>
        </div>
        <div class="small-9 columns end">
            <textarea id="articleBody" class="asauthArticleForm__body" placeholder="Article Body"></textarea>
        </div>
    </div>


    <div class="row">
        <div class="small-9 small-offset-2 columns end text-center">
            <button class="small radius button">Create</button>
        </div>
    </div>

</div>