<div class="panel">

    <div class="row">
        <div class="small-2 columns">
            <label for="userGMailAccount" class="right inline">GMail Account</label>
        </div>
        <div class="small-9 columns end">
            <input type="text" id="userGMailAccount" placeholder="GMail Account">
        </div>
    </div>

    <div class="row">
        <div class="small-2 columns">
            <label for="userRole" class="right inline">User Role</label>
        </div>
        <div class="small-9 columns end">
            <select id="userRole">
                <option value="publisher">Publisher</option>
                <option value="admin">Admin</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="small-9 small-offset-2 columns end text-center">
            <button class="small radius button">Create</button>
        </div>
    </div>

</div>